@font-face {
  font-family: Manrope_variable;
  src: url(../fonts/Manrope_variable.ttf);
}
@font-face {
  font-family: Anek_Bangla;
  src: url(../fonts/Anek_Bangla.ttf);
}
@font-face {
  font-family: Acme-Regular;
  src: url(../fonts/Acme-Regular.ttf);
}
@font-face {
  font-family: B612Mono-bold;
  src: url(../fonts/B612Mono-Bold.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Chenla-Regular;
  src: url(../fonts/Chenla-Regular.ttf);
}
@font-face {
  font-family: AnekGujarati-Thin;
  src: url(../fonts/AnekGujarati-Thin.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
.wrapper {
  background-color: white;
}
a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

.header {
  margin-bottom: 4vw;
  background: linear-gradient(
    166deg,
    rgba(73, 164, 248, 0.24) 10.8%,
    rgba(15, 209, 186, 0.07) 67.77%
  );
}
.header nav > a {
  font-family: Anek_Bangla, sans-serif;
  color: #000;
  font-size: clamp(0.5rem, 1.9vw, 2rem);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.header-burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  display: none;
}

.header-burger div {
  background-color: black;
  width: 25px;
  height: 4px;
  border-radius: 5px;
  opacity: 0.6;
}
/* !nav */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3vw;
  margin-bottom: 2vw;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.nav-rechts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}
.nav-links a,
.nav-rechts a {
  color: #000;
  text-align: center;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.4vw, 1.4rem);
  font-weight: 600;

  text-decoration: none;
}

.nav-rechts a:nth-of-type(2) {
  color: white;
  background: #f57059;
  text-decoration: none;
  border-radius: 40px;
  padding: 1vw 2vw;
}

.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1vw 5vw;
}
/* !content */
.content-links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1vw;
  /* margin-left: 3vw; */
}
.content-links h2 {
  color: #000;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 2.1vw, 2.2rem);
  font-weight: 400;
}
h1 {
  color: #000;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(1rem, 5.9vw, 6rem);
  font-weight: 800;

  letter-spacing: -1.8px;
  max-width: 25vw;
}
.content-links p {
  color: #757095;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.9vw, 2rem);
  font-weight: 400;

  letter-spacing: -0.4px;
}
.content-links p:nth-of-type(1) {
  max-width: 25vw;
}
/* !button button */
.button {
  color: #fff;
  text-align: center;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.7vw, 1.8rem);
  font-weight: 600;

  background-color: #05796b;
  border-radius: 60px;
  padding: 0.7vw 2vw;
}
.content-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3vw;
}
.content-bottom h3 {
  color: #282828;
  font-family: Manrop_variable, sans-serif;
  font-size: clamp(1rem, 2.5vw, 2.6rem);
  font-weight: 700;

  letter-spacing: -1.3px;
}
.content-bottom p {
  color: #8593a3;
  font-family: AnekGujarati-Thin, sans-serif;
  font-size: clamp(0.5rem, 1.5vw, 1.6rem);
  font-weight: 100;

  letter-spacing: -0.8px;
}
.software-buisness h2 {
  text-align: center;
  margin-bottom: 2vw;
}
.svg-items {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 2vw 10vw;
}
/* !our services */

.our-services {
  background: url(../img/Vector.svg) right no-repeat;
  background-size: 55%;
  background-position: top right;

  margin: 1vw 3vw;
}
.services-top {
  align-items: center;
  text-align: center;
  margin: 5vw 3vw;
  padding-top: 2vw;
}
.services-top h4 {
  color: #000;
  text-align: center;
  font-family: Anek_Bangla, sans-serif;
  font-size: clamp(0.5rem, 1.4vw, 1.4rem);
  font-weight: 700;

  text-transform: uppercase;
  margin-bottom: 1vw;
}
.services-top h3 {
  color: #000;
  text-align: center;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(1rem, 3.9vw, 4rem);
  font-weight: 800;

  letter-spacing: -1.2px;
  max-width: 30vw;
  margin-left: 28vw;
  padding-left: 4vw;
}
.services-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
  margin: 1vw 6vw 5vw 6vw;
}
/* !container */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1vw;
  border-radius: 1vw;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  padding: 1vw 2vw;
}
.container h4 {
  color: #000;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.9vw, 2rem);
  font-weight: 700;

  letter-spacing: -0.4px;
  max-width: 5vw;
  min-height: 2vw;
}
.container p {
  color: #757095;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.2vw, 1.2rem);
  font-weight: 500;

  letter-spacing: -0.24px;
}
.container svg {
  border: 1px solid black;
  border-radius: 0.2vw;
  background-color: lightgray;
  border-style: none;
}

.container:nth-of-type(8) {
  background-color: #05796b;
}
.container:nth-of-type(8) h4 {
  color: #fff;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp (1rem, 3.2vw, 3.3rem);
  font-weight: 700;

  letter-spacing: -0.66px;
}
.container:nth-of-type(8) p {
  color: #fff;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.2vw, 1.2rem);
  font-weight: 700;

  letter-spacing: -0.66px;
}
/* !learn */

.learn-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
  text-align: center;
}
.learn-top h4 {
  color: #000;
  text-align: center;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(1rem, 3.9vw, 4rem);
  font-weight: 800;

  letter-spacing: -1.2px;
}
.learn-top p {
  color: #757095;
  text-align: center;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.2vw, 1.2rem);
  font-weight: 400;

  letter-spacing: -0.4px;
  margin-bottom: 5vw;
}
.learn-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  text-align: center;
}
/* !register */
.register {
  position: relative;
}
.register img {
  /*   width: 160px;
  height: 160px; */
  padding: 3vw;
  margin-bottom: 2vw;
}
.register img:nth-of-type(1) {
  border: 1px solid black;
  border-style: none;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 6px 8px 80px 0px rgba(148, 148, 148, 0.16);
}
.dot img:nth-of-type(1) {
  border: 1px solid #939393;
  border-style: dashed;
}
.number {
  color: #000;
  font-family: "B612 Mono";
  font-size: clamp(0.5rem, 1.7vw, 1.8rem);
  font-weight: 700;
  letter-spacing: -0.9px;
  position: absolute;
  margin-left: 3vw;
  border: 2px solid gray;
  border-radius: 50%;
  padding: 0.3vw 0.5vw;
  border-style: none;
  background-color: lightgray;
}

.register h5 {
  color: #282828;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 2.1vw, 2.4rem);
  font-weight: 600;

  letter-spacing: -1.2p;
  margin-bottom: 1vw;
}
.register p {
  color: #757095;
  text-align: center;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.5vw, 1.6rem);

  font-weight: 400;

  letter-spacing: -0.32px;
  margin-bottom: 8vw;
}
/* !download */
.download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
  padding-top: 4vw;
}
.download p:nth-of-type(1) {
  color: #f57059;
  text-align: center;
  font-family: Anek_Bangla;
  font-size: clamp(0.5rem, 1.4vw, 1.4rem);
  font-weight: 700;

  text-transform: uppercase;
}
.download h2 {
  color: #000;
  text-align: center;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(1rem, 3.9vw, 4rem);
  font-style: normal;
  font-weight: 800;

  letter-spacing: -1.2px;
  max-width: 25vw;
}
.download p:nth-of-type(2) {
  color: #757095;
  text-align: center;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.9vw, 2rem);
  font-weight: 400;

  letter-spacing: -0.4px;
}
.download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}
/* !rot  */
.rot {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 2vw;
  border-style: none;
}

.rot a {
  background-color: #f57059;
  text-decoration: none;
  text-align: center;
}
/* !grün */

.grün {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 38px 50px 0px rgba(5, 121, 107, 0.2);
  border: 1px solid black;
  border-radius: 2vw;
  border-style: none;
}
.grün a {
  text-decoration: none;
  background-color: #05796b;
  text-align: center;
}
/* !afrowomen */
.afrowomen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin: 2vw 2vw;
}
.afro-rechts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vw;
}
.afro-rechts h2 {
  color: #000;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(1rem, 3.9vw, 4rem);
  font-weight: 800;

  letter-spacing: -1.2px;
  max-width: 20vw;
}
.afro-rechts p {
  color: #757095;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.9vw, 2rem);
  font-weight: 400;

  letter-spacing: -0.4px;
  max-width: 20vw;
}

.afro-rechts a {
  text-decoration: none;
}
/* !start */
.start-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
}
.start-top h2 {
  color: #000;
  text-align: center;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(1rem, 4.5vw, 4.6rem);
  font-weight: 800;

  letter-spacing: -1.38px;
  max-width: 20vw;
}
.start-top p {
  color: #757095;
  text-align: center;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.9vw, 2rem);
  font-weight: 400;

  letter-spacing: -0.4px;
  max-width: 20vw;
  margin-bottom: 6vw;
}
.start-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  background: url(../img/netz.svg) center no-repeat;
  background-size: contain;
  margin-bottom: 7vw;
}

/* ! basic  */
.basic {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1vw;
  box-shadow: 0px 8px 80px 0px rgba(167, 167, 167, 0.24);
  border-style: none;
  gap: 2vw;
  max-width: 21vw;
  background-color: white;
}
.basic h6,
.premium h6 {
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.5vw, 1.6rem);
  font-weight: 500;

  letter-spacing: 0.96px;
  text-align: left;
  padding-left: 1vw;
}
.basic h6 {
  color: #05796b;
  padding-top: 1vw;
}
/* !preis */

.preis {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  max-width: 4vw;
}
.preis h4 {
  color: #282828;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(1rem, 6.3vw, 6.4rem);
  font-weight: 700;

  margin-left: 6vw;
  padding-left: 1vw;
}
.preis p:nth-of-type(1) {
  color: #8593a3;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.5vw, 1.6rem);
  font-weight: 700;

  letter-spacing: -0.8px;
}
.text {
  color: #8593a3;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.5vw, 1.6rem);
  font-weight: 500;

  letter-spacing: -0.8px;
  margin-left: 2vw;
  border-bottom: 1px solid gray;
  max-width: 16vw;
  padding: 0 1vw;
  margin-bottom: 1vw;
}
.customer {
  position: relative;
}
.customer p {
  margin-left: 4.5vw;
  color: #8593a3;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.5vw, 1.6rem);
  font-weight: 500;

  letter-spacing: -0.8px;
}
/* !premium */
.premium h6,
.premium h4,
.premium p,
.weiss {
  color: #fff;
}
.customer svg {
  position: absolute;
  margin-left: 2vw;
  left: 0.5vw;
  top: 0.2vw;
}

.basic a {
  text-decoration: none;
  text-align: center;
  margin-left: 4vw;
  color: #8593a3;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.7vw, 1.8rem);
  font-weight: 600;

  letter-spacing: -0.9px;
  border: 1px solid rgba(133, 147, 163, 0.32);
  background-color: #fff;
  margin-bottom: 2vw;
}
.premium {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1vw;
  border-style: none;
  gap: 2vw;
  max-width: 21vw;
  background: #05796b;
  box-shadow: 0px 8px 80px 0px rgba(5, 121, 107, 0.32);
}
.premium h6 {
  text-align: center;
  align-items: flex-start;
  padding-top: 0.5vw;
}
.premium h5 {
  color: #fff;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.5vw, 1.6rem);
  font-weight: 700;

  letter-spacing: -0.8px;
}
.premium a {
  text-decoration: none;
  text-align: center;
  margin-left: 4vw;
  color: black;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.7vw, 1.8rem);
  font-weight: 600;

  letter-spacing: -0.9px;
  border: 1px solid rgba(133, 147, 163, 0.32);
  background-color: #fff;
  margin-bottom: 2vw;
}
/* !testimo */
.testimo {
  margin-bottom: 4vw;
}

.testimo-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimo-top h6 {
  color: #3734a9;
  font-family: Anek_Bangla;
  font-size: clamp(0.5rem, 1.4vw, 1.4rem);
  font-weight: 700;

  text-transform: uppercase;
}
.testimo-top p {
  color: #000;
  text-align: center;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(1rem, 3.9vw, 4rem);
  font-weight: 800;

  letter-spacing: -1.2px;
}
.testimo-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.testimo-rechts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}
.testimo-rechts p {
  color: #1b1c31;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 2vw, 3.1rem);
  font-weight: 700;

  letter-spacing: -0.6px;
  max-width: 23vw;
}
.testi-unten {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testi-unten h5 {
  color: #000;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.9vw, 2rem);
  font-weight: 700;

  letter-spacing: -0.6px;
}
.testi-unten h6 {
  color: #757095;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.5vw, 1.6rem);
  font-weight: 500;

  letter-spacing: -0.32px;
}
.unten-rechts {
  margin-right: 1vw;
}
/* !discover */
.dicover-section {
  min-height: 100vh;

  align-items: center;
}
.discover-content {
  position: relative;
  text-align: center;
  background-color: #05796b;
  max-width: 50%;
  min-height: 15vw;
  margin: auto;
  margin-bottom: 5vw;
  border-radius: 1vw;
  padding-bottom: 3vw;
}
.discover-content h4 {
  color: #fff;
  text-align: center;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 5.5vw, 5.6rem);
  font-weight: 800;

  letter-spacing: -1.68px;
  max-width: 30vw;
  margin-left: 9vw;
  margin-bottom: 2vw;
  padding-top: 3vw;
}
.discover-content a {
  text-decoration: none;
  background-color: #f57059;
}
.discover-content img {
  position: absolute;
  left: 7vw;
  top: 2vw;
} /* !footer-section */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9vw;
  margin-bottom: 4vw;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1vw;
}
.footer-links h5,
.footer-rechts h5 {
  color: #1b1c31;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 2vw, 2.1rem);
  font-weight: 700;

  letter-spacing: -0.42px;
}
.footer-links p {
  color: #757095;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.5vw, 1.6rem);
  font-weight: 400;

  letter-spacing: -0.32px;
  margin-bottom: 0.5vw;
  max-width: 8vw;
}
.footer-icons {
  display: flex;
  gap: 0.5vw;
}
.footer-rechts a {
  color: #181433;
  font-family: Manrope_variable, sans-serif;
  font-size: clamp(0.5rem, 1.5vw, 1.6rem);
  font-weight: 400;
}
.footer-rechts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
}
.company {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  align-content: start;
  gap: 0.5vw;
}
.company a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.copyright p {
  margin-bottom: 5vw;
  color: #181433;
  text-align: center;
  font-family: Chenla-Regular;
  font-size: clamp(0.5rem, 2vw, 2.4rem);
  font-weight: 400;

  letter-spacing: -0.48px;
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .content-links {
    max-width: 45vw;
  }
  .content-bottom {
    width: 35vw;
    gap: 3vw;
  }

  .svg-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5vw;
  }

  .services-top h3 {
    max-width: 80%;
    align-items: center;
    margin: auto;
  }
  .learn-bottom {
    margin: 0 2vw;
  }

  .vector {
    display: none;
  }
  .register p {
    max-width: 35vw;
  }
  .download h2 {
    max-width: 55vw;
  }

  .afrowomen {
    display: flex;
    gap: 0.5vw;
  }

  .afrowomen h2 {
    font-size: 2rem;
  }
  .afrowomen p {
    font-size: 0.9rem;
  }
  .start-top h2 {
    font-size: 2rem;
    max-width: 45vw;
  }
  .start-top p {
    font-size: 1.5rem;
    max-width: 35vw;
  }
  .preis h4 {
    font-size: 1.3rem;
  }

  .basic {
    width: 80vw;
  }
  .preis p {
    font-size: 0.9rem;
    padding: 1vw;
  }
  .text p {
    font-size: 0.5rem;
  }
  .customer p {
    font-size: 1rem;
    padding: 1vw 0.5vw;
  }

  .customer svg {
    margin-left: 0;
  }
  .premium a {
    margin-left: 2vw;
  }
  .discover-content {
    max-width: 100%;
  }
  .discover-content h4 {
    font-size: 2.5rem;
    left: 7vw;
  }
  .footer-container {
    margin: 0 4vw;
  }
  .footer-links p {
    font-size: 0.82rem;
  }
  .footer-rechts a {
    font-size: 0.9rem;
  }
  .company {
    gap: 2vw;
  }
}
@media only screen and (max-width: 567px) {
  .header-content {
    display: flex;
    flex-direction: column-reverse;

    justify-content: center;
    width: auto;
  }

  .nav-links,
  .nav-rechts {
    display: none;
  }
  .header-burger {
    display: flex;
  }

  h1 {
    font-size: 1.5rem;
  }
  .content-links {
    max-width: fit-content;
  }
  .svg-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5vw;
  }
}
